{% extends 'base.html.twig' %}

{% block title %}Edit Documents{% endblock %}

{% block body %}
    <div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6  p-0 bodyindex">
        <h1>Edit Documents</h1>
    
        {{ include('documents/_form.html.twig', {'button_label': 'Update'}) }}
    
        <a class='btn rounded-pill btn-secondary' href="{{ path('documents_index') }}">Retour à la liste</a>
    
        {{ include('documents/_delete_form.html.twig') }}
    </div>
{% endblock %}
