{% extends 'base.html.twig' %}

{% block title %}Dashboard Document
{% endblock %}

{% block body %}
	<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6 p-0 bodyindex">

			{% if (app.user.roles[0] == 'ROLE_EMPLOYE') %}
				{% include "/documents/_indexEmploye.html.twig" %}
			{% else %} {# Pour tous les autres : #}
				{% include "/documents/_indexOthers.html.twig" %}
			{% endif %}

</div>

{% endblock %}
