{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<<<<<<< HEAD
    <h1>Hello Sam Rithy Contretemps</h1>
=======
Branche Charlotte !
>>>>>>> origin/groupe1
{% endblock %}
