@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

$color1: #d8d8d8;
$color2: #b0DDe4;
$color3: #2eacd6;
$color4: #286fb4;
$color5: #ffffff;
$color6: #df4c73;

$color10: #d9534f;

$color7:  rgba(255, 255, 255, 1);
$color8: rgba(255, 255, 255, 0);
$color9: rgba(255, 255, 255, 0.8);

// Polices:
$police1:'News Cycle', sans-serif;

/********************************************
                 COMMUN CSS
*********************************************/
html{
  height: 100%;
}
body {
  background-color: $color1;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.full-height{
  min-height: 100%;
}

*{
  box-sizing: border-box;
}
.container{
  width: 100vh;
  height: 100vh;
}
h1{
  font-size: 28px;
  color: $color4;
  margin: 15px 0;
  padding: 0;
}
h5{
  border-bottom: 1px solid $color1;
  font-weight: bolder;
}
/* --- boutons --- */
.bgc-pink{
  background-color: $color6;
  color: $color5;
  border: solid transparent 2px;
}
.bgc-pink:hover{
  background-color: $color5;
  color: $color6;
  border: solid 2px $color6;
}
.btn-bleu{
  background-color: $color4;
  color: $color5;
  border: solid transparent 2px;
}
.btn-bleu:hover{
  background-color: $color5;
  color: $color4;
  border: 1px solid $color4;
}
.btn-pink{
  background-color: $color6;
  color: $color5;
  border: solid transparent 2px;
}
.btn-pink:hover{
  background-color: $color5;
  color: $color6;
  border: 1px solid $color6;
}
.btn-rouge{
  background-color: $color10;
  color: $color5;
  border: solid transparent 2px;
}
.btn-rouge:hover{
  background-color: $color5;
  color: $color10;
  border: 1px solid $color10;
}

/* --- thead ---*/
.thead-bleu{
  background-color: $color4;
}
.thead-bleuclair{
  background-color: $color3;
}
.thead-bleuplusclair{
  background-color: $color2;
}
.thead-pink{
  background-color: $color6;
}
.thead-gris{
  background-color: $color1;
}
/* --- tableaux responsives --- */
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  padding: 10px;
  text-align: left;
  border: solid 1px $color1;
}
th{
  background-color: $color4;
  color: $color5;
}
/*    --   - Navbar -   --    */
.menu{
  background-color: $color3;
}

.photoMenu{
  width: 40px;
  height: 40px;
}
#navbarSupportedContent ul li a{
  color: $color4;
}
.dropdownMenu i{
  color: $color1;
}
.dropdownMenu{
  color: $color1;
}
/*    --   - Fin Navbar - --     */
.no-padding > [class*='col-'] {
  padding-right:0;
  padding-left:0;
  }
thead{
  background-color: $color4;
  color: $color5;
}
.link{
  color: $color6;
  text-decoration: none;
}

/* ------------------ Base.html.twig -------------------- */

/*    --   - Menu gauche -   --    */
.iconMenu a{
  text-decoration: none;
  color: $color4;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 42px;
}
.iconMenu a:hover{
  background-color: $color2;
}
.istyle:hover{
  color: $color6;
}
.hoverpink:hover{
  color: $color6;
}
.istyle{
  font-size: 12px;
  color: $color4;
}
.iconMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color5;
  margin: 0;
  padding: 0 20px;
  width: 50px;
  z-index: 1000;
  position: absolute;
}
.iconMenu i{
  color: $color4;
  line-height: 32px;
  font-size: 18px;
}
.iconMenu i:hover{
  color: $color6;
}
.agrandissement{
  width: 200px;
  z-index: 1000;
  position: absolute;
  align-items: flex-start !important;
  background-color: $color9;
  height: 100%;
}
#burgerclick:hover{
  cursor: pointer;
  color: $color1;
}
#burgerclick{
  margin-left: 12px;
  margin-top: 22px;
  font-size: 18px;
}
.menuGauche{
  width: 100px;
  min-height: 100%;
}
.bodyindex{
 position: relative;
}
.displayusername{
  display: none;
}


/*    --   - Fin Menu gauche -   --    */

/********************************************
                 HEADER
*********************************************/
.header{
  height: 60px;
  background-color: $color3;
}
.header i{
  color: $color5;
}
.dropdown-menu i{
  color: $color3;
}
.logoheader a{
  color: $color5 !important;
  z-index: 100;
}

/********************************************
                 MAIN
*********************************************/

/* ------------------ employe-> login.html.twig ------------------ */

#connexionBg{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0 !important;
}

.bg-image {
  background-image: url(../../public/images/images_front/background.jpg);
  filter: blur(8px);
  -webkit-filter: blur(32px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.connexion{
  color: $color6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.connexionContainer{
  width: 250px;
  height: 200px;
  background-image: linear-gradient(to top, $color8, $color7);
  margin: 160px auto;
  border-radius: 10px;
  z-index: 100;
}
.connexionContainer div{
  margin-left: auto;
  margin-right: auto;
}
.centrerHauteur{
  height: 320px;
}
.profil{
  text-align: center;
}

.imgProfilConnexion{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
}
.noCompte{
  border: none;
}


/* ------------------- employe-> index.html.twig -------------------*/
.colorIcon{
  color: $color4;
}
.colorIcon:hover{
  color: $color6;
}
/* -------------------- employe-> new.html.twig  ------------------ */

.formulaireContainer{
  margin: 70px auto;
  font-size: 15px;
  width: 300px;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(200,200,200,1));
  padding: 15px;
  height: 850px;
  border-radius: 10px;
}
.input{
  width: 270px;
  margin: 3px 0;
  border: none;
  border-radius: 5px;
  height: 38px;
  padding: 5px;
}
.input2{
  width: 270px;
  margin: 3px 0;
  border: none;
  border-radius: 5px;
}
/* .buttonNew{
  margin-top: 10px;
  background-color: $color6;
  border: none;
  box-shadow: 1px 1px 12px black;
  margin-left: 20px;
}
.buttonNew:hover{
  background-color: $color3;
} */
.retourListeForm{
  margin-top: 10px;
  box-shadow: 1px 1px 12px black;
  margin-right: 20px;
  background-color: $color1;
  border: none;
}
.formulaire{
  width: 270px;
}

/* ----------- home-> index.html.twig ------------- */

.imgHome{
  width: 600px;
}

/* ------------ profil index.html.twig --------------- */

.cardFooter{
  background-color: $color3;
}
.boutonVignette{
  background-color: $color2;
}
.imgVignette{
  width: 180px;
  height: 140px;
}
.imgVignetteProfil{
  width: 120px;
  height: 140px;
}
.centrerImgProfil{
  margin: 0 auto;
}
.flexCard{
  display: flex;
}
.hauteurcard{
  font-size: 12px;
  height: 35vh;
}
.formSize{
  padding: 2px 0;
}
.cardBody{
  font-size: 12px;
  height: 30vh;
}
.cardBody a{
  text-decoration: none;
}
.cardBody h5{
  color: $color4;
}
.cardBody h5:hover{
  color: $color6;
}
h5{
  font-size: 15px;
}
/* ------------ cgu.html.twig --------------- */
.containerMentions{
 margin: 0 auto;
 font-size: 12px;
 width: 290px;
}
.containerMentions p{
  text-align: justify;
}
h6{
  color: #286fb4;
}
.soustitrementions{
  color: $color4;
}
h6{
  color: $color4;
  border-bottom: 1px solid $color1;
  font-weight: bolder;
}

/********************************************
                 FOOTER
*********************************************/
footer{
  height: 80px;
  background-color: $color3;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}
.footer > a{
  text-decoration: none;
  margin: 0 1px;
  color: $color5;
  border-right: 1px solid $color5;
  padding: 0 3px;
}
.footer a:hover{
  color: $color4;
}
.borderleft{
  border-right: none !important;
}
.imglogo{
   width: 50px;
  }
/* ---------------------------------------- */
              /*MEDIA QUERIES*/
/* ---------------------------------------- */
@media screen and (min-width: 540px){

  /* -------------------- employe-> new.html.twig  ------------------ */
  
  /* ------------------ employe-> login.html.twig ------------------ */
 
  footer{
    font-size: 15px;
  }
  .footer a{
    margin: 0 5px;
    padding: 0 10px
  }

}

@media screen and (min-width: 768px){
  
  /* -------------------- employe-> new.html.twig  ------------------ */
  .formulaireContainer{
    width: 580px;
  }
  .input{
    width: 500px;
  }
  .input2{
    width: 500px;
  }
  /* ------------------ employe-> login.html.twig ------------------ */
  .connexionContainer{
    width: 400px;
    height: 400px;
  }
  /* ------------ cgu.html.twig --------------- */
.containerMentions{
  margin: 50px auto;
  font-size: 15px;
  width: 680px;
 }

}



@media screen and (min-width: 960px){

   /* --------------- Menu gauche --------------- */ 
   .displayusername{
    display: inline;
  }
  /* -------------------- employe-> new.html.twig  ------------------ */
  .formulaireContainer{
    width: 740px;
    margin: 70px auto;
  }
  .input{
    width: 710px;
  }
  .input2{
    width: 710px;
  }
  .formulaire{
    width: 710px;
  }
  /* ------------------ employe-> login.html.twig ------------------ */
  .connexionContainer{
    width: 650px;
    height: 400px;
  }


  
  
}
@media only screen and (max-width: 700px){
  .tableResponsive table,
  .tableReponsive thead,
  .tableResponsive tbody, 
  .tableResponsive th, 
  .tableResponsive tr,
  .tableResponsive td{
    display: block;
  }
  .tableResponsive td{
    padding-left: 150px;
    margin-top: -1px;
    position: relative;
    background-color: $color5;
    font-size: 8px;
  }
  .tableResponsive td:nth-child(odd){
    background-color: $color1;
  }
  .tableResponsive thead{
    display: none;
  }
  .tableResponsive tr{
    margin-bottom: 1rem;
  }
  .tableResponsive td::before{
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    bottom: 0;
    background-color: $color4;
    color: $color5;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}





/* 
Login :
Se connect -> bouton rose écriture blanche
Connexion -> écriture blanche
*/
