<footer class="footer">    

        <a href="{{ path('profil_index') }}">
            <img src="/images/images_front/logosclair.png" alt="" class="imglogo">
        </a>

        <a href="{{ path('mentions_cgu') }}">
            CGU
        </a>

        <a href="{{ path('mentions_confidentialite') }}">
            Politique de confidentialité
        </a>

        <a href="{{ path('mentions_cookies') }}" class="borderleft">
            Politique des cookies
        </a>
  
</footer>