<form method="post" action="{{ path('employe_delete', {'id': employe.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir effacer ce profil?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.id) }}">
    <button class="btn btn-rounded btn-danger">Effacer</button>
</form>
