{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn bgc-pink rounded-pill float-right">{{ button_label|default('Enregistrer') }}</button>       
    </div>
    
{{ form_end(form) }}
