{% extends 'base.html.twig' %}

{% block title %}Dashboard Employés{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6  p-0 bodyindex">
{#############################################################################################}
            {###################### ROLE ADMIN ######################}
{#############################################################################################}




{#############################################################################################}
            {###################### ROLE RH ######################}
{#############################################################################################}



</div>
{% endblock %}
