{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
    <div class="formulaireContainer">
        <h1>Ajout d'un nouvel employé</h1>
    
        <div class="formulaire">
            {{ include('employe/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
