{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-md-10 mr-auto ml-auto col-sm-6  p-0 bodyindex">
    <div class="formulaireContainer">
        <h1>Ajout d'un nouvel employé</h1>
    
        <div class="formulaire">
            {{ include('employe/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
