{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
    <h1>Ajout d'un nouvel employé</h1>

    {{ include('employe/_form.html.twig') }}

    <a href="{{ path('employe_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
