{% extends 'base.html.twig' %}

{% block title %}Nouvelle absence
{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6 p-0 bodyindex">
	<div class="row">
		<div class="col-md-12 col-lg-12 p-2 pt-3">
			<div class="card">
				<div class="d-flex">
					<div class="card-body">
						<h6 class="card-title">
							Signaler une nouvelle absence
						</h6>
						{{ include('absences/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
