{% extends 'base.html.twig' %}

{% block title %}Nouvelle absence
{% endblock %}

{% block body %}
	<h1>Signaler une nouvelle absence</h1>

	{{ include('absences/_form.html.twig') }}

	<a class='btn rounded-pill btn-bleu' href="{{ path('profil_index') }}">Revenir à l'accueil</a>

{% endblock %}
